body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #333; /* Szare tło */
    color: white;
    transition: background-color 1s ease;
    overflow: hidden;
}

.yellow-mode {
    background-color: #ffeb3b !important; /* Żółte tło */
    color: black !important;
}

/* Styl czatu */
#chat-container {
    width: 300px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    border-right: 2px solid #555;
}

#chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

#chat-input-area {
    display: flex;
    padding: 10px;
}

#chat-input {
    flex-grow: 1;
    padding: 5px;
}

/* Styl zegara */
#center-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock {
    font-size: 80px;
    margin: 0;
}

#author {
    font-size: 20px;
    opacity: 0.8;
}